@import "tailwindcss";

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 2s linear infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-3px);
    }

    40%,
    80% {
        transform: translateX(3px);
    }
}

.animate-shake {
    animation: shake 0.4s ease-in-out;
}